.home-page > ul {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .home-page > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1008px) {
  .home-page > ul {
    margin-top: 4rem;
  }
}
