.access-request-page {
  padding: 2rem 20px;
}

.access-request-page .table-one tbody tr th:nth-child(4) button,
.access-request-page .table-one tbody tr th:nth-child(5) button {
  max-width: 200px;
  margin: auto;
}
