.add-data-page {
  padding: 2rem 20px;
}

.form-create-data {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: initial;
  margin-top: 3rem;
  gap: 2rem;
}

.input-money {
  position: relative;
}

.input-money > span {
  color: var(--first-color);
  font-weight: 700;
  position: absolute;
  top: 1rem;
  left: 0.75rem;
}

.input-money > .input[type="number"] {
  padding: 1rem 0.75rem 1rem calc(0.75rem + 25px);
}

@media (min-width: 768px) {
  .form-create-data {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .form-create-data {
    grid-template-columns: repeat(3, 1fr);
  }
}
