.organizer-page {
  padding: 2rem 20px;
}

.organizer-page > div {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.organizer-page > div button {
  width: auto;
}

.table-viajes-container {
  overflow-x: scroll;
}

.table-viajes-container thead th {
  white-space: nowrap;
  padding: 10px;
}

.table-viajes-container tbody th {
  white-space: nowrap;
  border: 1px dashed var(--first-color);
  padding: 10px;
}
