.backdrop-modal {
  position: fixed;
  margin: 0 !important;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-create-ruta {
  padding: 2rem;
  background-color: var(--text-color-one);
  width: 100%;
  max-width: 90%;
  border-radius: 3rem;
}
